# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Databases
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Project assets
transactions.pdf
generate_pdf.py
